<div class="dark:bg-black">
<nav class="shadow">
  <div class="container px-6 py-3 mx-auto">
    <div class="flex flex-col md:flex-row md:justify-between md:items-center">
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <a class="text-xl font-bold text-gray-800 dark:text-white md:text-2xl hover:text-gray-700 dark:hover:text-gray-300" href="#">BangMapleBlog</a>
          <!-- Search input on desktop screen -->
          <div class="hidden mx-10 md:block">
            <div class="relative">
                                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                                    <svg class="w-5 h-5 text-gray-400" viewBox="0 0 24 24" fill="none">
                                        <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </span>

              <input type="text" class="w-full py-2 pl-10 pr-4 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" placeholder="Search">
            </div>
          </div>
        </div>

        <!-- Mobile menu button -->
        <div class="flex md:hidden">
          <button type="button" class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400" aria-label="toggle menu">
            <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
              <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
            </svg>
          </button>
        </div>
      </div>

      <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
      <div class="items-center md:flex">
        <div class="flex flex-col mt-2 md:flex-row md:mt-0 md:mx-1">
          <a class="my-1 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:mx-4 md:my-0" href="#">Home</a>
          <a class="my-1 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:mx-4 md:my-0" href="#">Blog</a>
          <a class="my-1 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:mx-4 md:my-0" href="#">Compoents</a>
          <a class="my-1 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:mx-4 md:my-0" href="#">Courses</a>
        </div>

        <div class="flex items-center py-2 -mx-1 md:mx-0">
          <button class="block w-1/2 px-3 py-2 mx-1 text-sm leading-5 text-center
          text-white transition-colors duration-200 transform border
          rounded-md hover:bg-gray-400 md:mx-0 md:w-auto dark:text-white bt" (click)="switchTheme()">
            <svg class="w-3 h-3 md:w-5 md:h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
              />
            </svg>
            <svg class="w-3 h-3 md:w-5 md:h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
              />
            </svg>
          </button>
        </div>

        <!-- Search input on mobile screen -->
        <div class="mt-3 md:hidden">
          <div class="relative">
                            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                                <svg class="w-5 h-5 text-gray-400" viewBox="0 0 24 24" fill="none">
                                    <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </span>

            <input type="text" class="w-full py-2 pl-10 pr-4 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" placeholder="Search">
          </div>
        </div>
      </div>
    </div>

    <div class="py-3 mt-3 -mx-3 overflow-y-auto whitespace-nowrap scroll-hidden">
      <a class="mx-4 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:my-0" href="#">News</a>
      <a class="mx-4 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:my-0" href="#">Articles</a>
      <a class="mx-4 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:my-0" href="#">Videos</a>
      <a class="mx-4 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:my-0" href="#">Tricks</a>
      <a class="mx-4 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:my-0" href="#">PHP</a>
      <a class="mx-4 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:my-0" href="#">Laravel</a>
      <a class="mx-4 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:my-0" href="#">Vue</a>
      <a class="mx-4 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:my-0" href="#">React</a>
      <a class="mx-4 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:my-0" href="#">Tailwindcss</a>
      <a class="mx-4 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:my-0" href="#">Meraki UI</a>
      <a class="mx-4 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:my-0" href="#">CPP</a>
      <a class="mx-4 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:my-0" href="#">JavaScript</a>
      <a class="mx-4 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:my-0" href="#">Ruby</a>
      <a class="mx-4 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:my-0" href="#">Mysql</a>
      <a class="mx-4 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:my-0" href="#">Pest</a>
      <a class="mx-4 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:my-0" href="#">PHPUnit</a>
      <a class="mx-4 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:my-0" href="#">Netlify</a>
      <a class="mx-4 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:my-0" href="#">VS Code</a>
      <a class="mx-4 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:my-0" href="#">PHPStorm</a>
      <a class="mx-4 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:my-0" href="#">Sublime</a>
    </div>
  </div>
</nav>
<div class="font-sans leading-normal tracking-normal mt-10">

  <!--Header-->
  <div class="w-full m-0 p-0 bg-cover bg-bottom">
    <div class="container max-w-4xl mx-auto pt-16 md:pt-32 text-center break-normal">
    </div>
  </div>

  <!--Container-->
  <div class="container px-4 md:px-0 max-w-6xl mx-auto -mt-32">

    <div class="mx-0 sm:mx-6">

      <!--Nav-->

      <div class=" w-full text-xl md:text-2xl text-gray-800 leading-normal rounded-t">

        <!--Lead Card-->
        <div *ngIf="(posts$ | async) as p" class="flex h-full bg-white dark:bg-black rounded overflow-hidden">
          <a (click)="navigatePost(p[0].slug)" class="flex flex-wrap no-underline hover:no-underline">
            <div class="w-full md:w-2/3 rounded">
              <img src="{{ p[0].feature_image }}" class="h-full w-full shadow">
            </div>

            <div class="w-full md:w-1/3 flex flex-col flex-grow flex-shrink">
              <div class="flex-1 overflow-hidden">
                <p class="w-full text-red-600 text-xs md:text-sm md:uppercase pt-6 px-6"><span
                  *ngFor="let tag of p[0].tags">{{tag.name}}</span></p>
                <div class="w-full font-bold text-xl text-gray-700 dark:text-gray-200 px-6">{{ p[0].title }}</div>
                <p class="text-gray-800 dark:text-gray-300 text-base px-6 mb-5"><br/>{{ p[0].excerpt }}</p>
              </div>

              <div class="flex-none mt-auto overflow-hidden p-6">
                <div class="flex items-center justify-between">
                  <div class="flex">
                  <span *ngIf="p[0].authors[0].profile_image">
                    <img class="w-8 h-8 rounded-full mr-4 avatar flex-1" data-tippy-content="Author Name"
                         src="{{ p[0].authors[0].profile_image }}" alt="Avatar of Author">
                  </span>
                    <img alt="Avatar of Author" class="w-8 h-8 rounded-full mr-4 avatar flex-1"
                         data-tippy-content="Author Name" *ngIf="p[0].authors[0].profile_image === null"
                         src="./assets/default.png"/>
                    <div class="flex-none md:text-xs -ml-2">
                      <span class="font-bold dark:text-white">{{p[0].authors[0].name}}</span>
                      <div class="text-gray-500 dark:text-white">{{ p[0].updated_at | date:'mediumDate'}}
                        <span class="m-1">•</span>
                        <span *ngIf="p[0].reading_time >= 2">{{ p[0].reading_time }} mins read</span>
                        <span *ngIf="p[0].reading_time < 2"> 1 min read </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!--/Lead Card-->

        <!--Posts Container-->
        <div *ngIf="(posts$ | async) as p" class="flex flex-wrap justify-between pt-12 -mx-6">
          <!--1/3 col -->
          <div *ngFor="let post of p" class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
            <a (click)="navigatePost(post.slug)" class="flex-1">
              <div class="flex flex-wrap">
                <img src="{{ post.feature_image }}" class="h-56 w-full rounded pb-6">
                <p class="w-full text-red-600 text-xs md:uppercase px-6"><span
                  *ngFor="let tag of post.tags">{{tag.name}}</span></p>
                <div class="w-full font-bold text-2xl text-gray-900 dark:text-gray-200 px-6 mt-2">{{ post.title }}</div>
                <p class="text-gray-500 dark:text-gray-300 text-base px-6 mb-5 mt-4 block-ellipsis">
                  {{ post.excerpt }}
                </p>
              </div>
            </a>
            <div class="flex-none mt-auto overflow-hidden p-6">
              <div class="flex items-center justify-between">
                <div class="flex">

                  <img *ngIf="post.authors[0].profile_image" class="w-8 h-8 rounded-full mr-4 avatar flex-1" data-tippy-content="Author Name"
                       src="{{ post.authors[0].profile_image }}" alt="Avatar of Author">
                  <img alt="Avatar of Author" class="w-8 h-8 rounded-full mr-4 avatar flex-1"
                       data-tippy-content="Author Name" *ngIf="post.authors[0].profile_image === null"
                       src="./assets/default.png"/>
                  <div class="flex-none md:text-xs -ml-2">
                    <span class="font-bold dark:text-white">{{post.authors[0].name}}</span>
                    <div class="text-gray-500 dark:text-white">{{ post.updated_at | date:'mediumDate'}}
                      <span class="m-1">•</span>
                      <span *ngIf="post.reading_time >= 2">{{ post.reading_time }} mins read</span>
                      <span *ngIf="post.reading_time < 2"> 1 min read </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!--1/3 col -->
          <!--<div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
            <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
              <a href="#" class="flex flex-wrap no-underline hover:no-underline">
                <img src="https://source.unsplash.com/collection/3106804/800x600" class="h-64 w-full rounded-t pb-6">
                <p class="w-full text-gray-600 text-xs md:text-sm px-6">GETTING STARTED</p>
                <div class="w-full font-bold text-xl text-gray-900 px-6">Lorem ipsum dolor sit amet.</div>
                <p class="text-gray-800 font-serif text-base px-6 mb-5">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ip Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.
                </p>
              </a>
            </div>
            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
              <div class="flex items-center justify-between">
                <img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content="Author Name" src="http://i.pravatar.cc/300" alt="Avatar of Author">
                <p class="text-gray-600 text-xs md:text-sm">1 MIN READ</p>
              </div>
            </div>
          </div>

          <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
            <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
              <a href="#" class="flex flex-wrap no-underline hover:no-underline">
                <img src="https://source.unsplash.com/collection/539527/800x600" class="h-64 w-full rounded-t pb-6">
                <p class="w-full text-gray-600 text-xs md:text-sm px-6">GETTING STARTED</p>
                <div class="w-full  font-bold text-xl text-gray-900 px-6">Lorem ipsum dolor sit amet.</div>
                <p class="text-gray-800 font-serif text-base px-6 mb-5">
                  Lorem ipsum eu nunc commodo posuere et sit amet ligula.
                </p>
              </a>
            </div>
            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
              <div class="flex items-center justify-between">
                <img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content="Author Name" src="http://i.pravatar.cc/300" alt="Avatar of Author">
                <p class="text-gray-600 text-xs md:text-sm">1 MIN READ</p>
              </div>
            </div>
          </div>-->


          <!--1/2 col -->
          <div class="w-full md:w-1/2 p-6 flex flex-col flex-grow flex-shrink">
            <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
              <a href="#" class="flex flex-wrap no-underline hover:no-underline">
                <img src="https://source.unsplash.com/collection/3657445/800x600" class="h-full w-full rounded-t pb-6">
                <p class="w-full text-gray-600 text-xs md:text-sm px-6">GETTING STARTED</p>
                <div class="w-full font-bold text-xl text-gray-900 px-6">Lorem ipsum dolor sit amet.</div>
                <p class="text-gray-800 font-serif text-base px-6 mb-5">
                  Lorem ipsum eu nunc commodo posuere et sit amet ligula.
                </p>
              </a>
            </div>
            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
              <div class="flex items-center justify-between">
                <img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content="Author Name"
                     src="http://i.pravatar.cc/300" alt="Avatar of Author">
                <p class="text-gray-600 text-xs md:text-sm">1 MIN READ</p>
              </div>
            </div>
          </div>

          <!--1/2 col -->
          <div class="w-full md:w-1/2 p-6 flex flex-col flex-grow flex-shrink">
            <div class="flex-1 flex-row bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
              <a href="#" class="flex flex-wrap no-underline hover:no-underline">
                <img src="https://source.unsplash.com/collection/764827/800x600" class="h-full w-full rounded-t pb-6">
                <p class="w-full text-gray-600 text-xs md:text-sm px-6">GETTING STARTED</p>
                <div class="w-full font-bold text-xl text-gray-900 px-6">Lorem ipsum dolor sit amet.</div>
                <p class="text-gray-800 font-serif text-base px-6 mb-5">
                  Lorem ipsum eu nunc commodo posuere et sit amet ligula.
                </p>
              </a>
            </div>
            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
              <div class="flex items-center justify-between">
                <img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content="Author Name"
                     src="http://i.pravatar.cc/300" alt="Avatar of Author">
                <p class="text-gray-600 text-xs md:text-sm">1 MIN READ</p>
              </div>
            </div>
          </div>


          <!--2/3 col -->
          <div class="w-full md:w-2/3 p-6 flex flex-col flex-grow flex-shrink">
            <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
              <a href="#" class="flex flex-wrap no-underline hover:no-underline">
                <img src="https://source.unsplash.com/collection/325867/800x600" class="h-full w-full rounded-t pb-6">
                <p class="w-full text-gray-600 text-xs md:text-sm px-6">GETTING STARTED</p>
                <div class="w-full font-bold text-xl text-gray-900 px-6">Lorem ipsum dolor sit amet.</div>
                <p class="text-gray-800 font-serif text-base px-6 mb-5">
                  Lorem ipsum eu nunc commodo posuere et sit amet ligula.
                </p>
              </a>
            </div>
            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
              <div class="flex items-center justify-between">
                <img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content="Author Name"
                     src="http://i.pravatar.cc/300" alt="Avatar of Author">
                <p class="text-gray-600 text-xs md:text-sm">1 MIN READ</p>
              </div>
            </div>
          </div>

          <!--1/3 col -->
          <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
            <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
              <a href="#" class="flex flex-wrap no-underline hover:no-underline">
                <img src="https://source.unsplash.com/collection/1118905/800x600" class="h-full w-full rounded-t pb-6">
                <p class="w-full text-gray-600 text-xs md:text-sm px-6">GETTING STARTED</p>
                <div class="w-full font-bold text-xl text-gray-900 px-6">Lorem ipsum dolor sit amet.</div>
                <p class="text-gray-800 font-serif text-base px-6 mb-5">
                  Lorem ipsum eu nunc commodo posuere et sit amet ligula.
                </p>
              </a>
            </div>
            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
              <div class="flex items-center justify-between">
                <img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content="Author Name"
                     src="http://i.pravatar.cc/300" alt="Avatar of Author">
                <p class="text-gray-600 text-xs md:text-sm">1 MIN READ</p>
              </div>
            </div>
          </div>

        </div>
        <!--/ Post Content-->

      </div>


      <!--Subscribe-->
      <div class="container font-sans bg-green-100 rounded mt-8 p-4 md:p-24 text-center">
        <h2 class="font-bold break-normal text-2xl md:text-4xl">Subscribe to Ghostwind CSS</h2>
        <h3 class="font-bold break-normal font-normal text-gray-600 text-base md:text-xl">Get the latest posts delivered
          right to your inbox</h3>
        <div class="w-full text-center pt-4">
          <form action="#">
            <div class="max-w-xl mx-auto p-1 pr-0 flex flex-wrap items-center">
              <input type="email" placeholder="youremail@example.com"
                     class="flex-1 appearance-none rounded shadow p-3 text-gray-600 mr-2 focus:outline-none">
              <button type="submit"
                      class="flex-1 mt-4 md:mt-0 block md:inline-block appearance-none bg-green-500 text-white text-base font-semibold tracking-wider uppercase py-4 rounded shadow hover:bg-green-400">
                Subscribe
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- /Subscribe-->


      <!--Author-->
      <div class="flex w-full items-center font-sans p-8 md:p-24">
        <img class="w-10 h-10 rounded-full mr-4" src="http://i.pravatar.cc/300" alt="Avatar of Author">
        <div class="flex-1">
          <p class="text-base font-bold text-base md:text-xl leading-none">Ghostwind CSS</p>
          <p class="text-gray-600 text-xs md:text-base">Tailwind CSS version of Ghost's Casper theme by <a
            class="text-gray-800 hover:text-green-500 no-underline border-b-2 border-green-500"
            href="https://www.tailwindtoolbox.com">TailwindToolbox.com</a></p>
        </div>
        <div class="justify-end">
          <button
            class="bg-transparent border border-gray-500 hover:border-green-500 text-xs text-gray-500 hover:text-green-500 font-bold py-2 px-4 rounded-full">
            Read More
          </button>
        </div>
      </div>
      <!--/Author-->

    </div>


  </div>


  <footer class="bg-gray-900">
    <div class="container max-w-6xl mx-auto flex items-center px-2 py-8">

      <div class="w-full mx-auto flex flex-wrap items-center">
        <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
          <a class="text-gray-900 no-underline hover:text-gray-900 hover:no-underline" href="#">
            👻 <span class="text-base text-gray-200">Ghostwind CSS</span>
          </a>
        </div>
        <div class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
          <ul class="list-reset flex justify-center flex-1 md:flex-none items-center">
            <li>
              <a class="inline-block py-2 px-3 text-white no-underline" href="#">Active</a>
            </li>
            <li>
              <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:underline py-2 px-3" href="#">link</a>
            </li>
            <li>
              <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:underline py-2 px-3" href="#">link</a>
            </li>
            <li>
              <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:underline py-2 px-3" href="#">link</a>
            </li>
          </ul>
        </div>
      </div>


    </div>
  </footer>

  <!--<script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@4"></script>
  <script>
    //Init tooltips
    tippy('.avatar')
  </script>-->

</div>

</div>
